<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebTeller"
                         closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="999999999"
          maxReceivedMessageSize="999999999" useDefaultWebProxy="true" />
                  
       
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ws_webteller/WebTeller.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebTeller"
                contract="Operaciones.IWebTeller" name="BasicHttpBinding_IWebTeller" />
        </client>
    </system.serviceModel>
</configuration>